
<h1>OAuth Login with Passport</h1>
<br>
<h4>Profile page</h4>
<br>
<div class="my-3">
    <img src="{{user.thumbnail}}" alt="Profile photo">
</div>
<h2>Welcome to your profile, {{user.username}}!</h2>




